
<body>
    <header id="headerofnav">
        <i class="fas fa-bars menu-icon"></i> <!-- Hamburger menu icon -->
        <a href="/website/index.html" class = "logo" id="navbar-logo">Logo</a>
        <ul id="navbar-ul">
            <li id="navbar-item"><a  href="/website/pages/customer/Vehicles.html">Vehicles</a></li>
            <li id="navbar-item"><a href="#">bcde</a></li>
            <li id="navbar-item"><a href="#">cdef</a></li>
            <li id="navbar-item"><a href="#">defg</a></li>
            <li id="navbar-item"><a href="#">efgi</a></li>
            <li id="navbar-item"><a href="/website/pages/customer/UpdateInforPage.html"><i class="fa-solid fa-user "></i></a></li>
            <li id="navbar-item"><a href="/website/pages/customer/checkout.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </header>
</body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous">


<link rel="stylesheet" href="/website/css/navbar.css">
<!-- js -->
<script src="/website/js/navbar.js"> </script>