
<body>
    <header>
        <i class="fas fa-bars menu-icon"></i> <!-- Hamburger menu icon -->
        <a href="/website/index.html" class = "logo">Logo</a>
        <ul>
            <li><a  href="/website/pages/customer/Vehicles.html">Vehicles</a></li>
            <li><a href="#">bcde</a></li>
            <li><a href="#">cdef</a></li>
            <li><a href="#">defg</a></li>
            <li><a href="#">efgi</a></li>
            <li><a href="/website/pages/customer/UpdateInforPage.html"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="/website/pages/customer/checkout.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </header>
</body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous">


<link rel="stylesheet" href="/website/css/navbar.css">
<!-- js -->
<script src="/website/js/navbar.js"> </script>