<body>

    <div class="container">
        <div class="col-md-4 " style="margin-bottom: 25px;">
            <div class="form-floating" style="padding-right: 12px">

                <select class="form-select" id="StatusSort">
                    <option value="All">All</option>
                    <option value="Processing">Processing</option>
                    <option value="Deliverying">Deliverying</option>
                    <option value="Cancel">Cancel</option>
                </select>
                <label for="sort">Sort</label>
            </div>
        </div>
        <div class="border p-3">
            <div class="row">
                <div class="col-md-4">
                  
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="form-floating" style="padding-right: 12px">

                        <select class="form-select" id="sort">
                            <option value="N">Newest</option>
                            <option value="O">Oldest</option>
                            <option value="ALH">Price: Low to High</option>
                            <option value="AHL">Price: High to Low</option>
                        </select>
                        <label for="sort">Sort</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>

                            </th>
                            <th>Order ID</th>
                            <th>Order Status</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td><img src="/website/images/Vehicles/Car1.avif" style="width: 50px; height: 50px;">
                            </td>
                            <td class="align-middle">2
                            </td>
                            <td class="align-middle">
                                <p class="p-0 m-0">Handling</p>
                            </td>
                            <td class="align-middle">$57,435.00</td>
                            <td class="align-middle"> <button type="button"
                                    class="btn btn-outline-primary">Details</button> </td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="/website/images/Vehicles/Car2.avif"
                                    style="width: 50px; height: 50px;">
                            </td>
                            <td class="align-middle">3
                            </td>
                            <td class="align-middle">
                                <p class="align-middle p-0 m-0">Deliverying</p>
                            </td>
                            <td class="align-middle">$131,600.00</td>
                            <td> <button type="button" class="btn btn-outline-primary">Details</button> </td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="/website/images/Vehicles/Car3.avif"
                                    style="width: 50px; height: 50px;">
                            </td>

                            <td class="align-middle">1 </td>
                            <td class="align-middle">
                                <p class=" p-0 m-0">Deliverying</p>
                            </td>
                            <td class="align-middle">$99,999.00</td>
                            <td> <button type="button" class="btn btn-outline-primary">Details</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

  

</body>