<script>
    if (!document.querySelector('script[src*="common.js"]')) {
        var script = document.createElement('script');
        script.src = "/website/js/common.js";
        document.head.appendChild(script);
    }

    //load css
    if (!document.querySelector('link[href*="whatsapp.css"]')) {
        var link = document.createElement('link');
        link.href = "/website/css/Customer/whatsapp.css";
        link.rel = "stylesheet";
        document.head.appendChild(link);
    }
</script>

<a aria-label="Chat on WhatsApp" href="https://wa.me/"><img alt="Chat on WhatsApp"
         src="/website/images/ChatOnWhatsAppButton/WhatsAppButtonGreenSmall.png" />
</a>

<script>
    $(document).ready(function () {
        readJsonFile("/website/whatsapp.json", function (data) {
            const message = String.format(data.text, "Sam", "Yau");
            $("a").attr("href", String.format(data.link, data.phone, message));
        });
    });
</script>