body {
    background-color: white !important;
}

.container {
    width: 100% !important;
}

.index_first_banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/indexPage/hell_cat.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Wrapper CSS */
.first-wrapper {
    padding-top: 35px;
    margin: 0 0 10px 0;
}

.second-wrapper {
    background-image: url("/website/images/indexPage/challenger-Image.avif");
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
 
}



/* Third wrapper */
.third-wrapper .left-side-wrapper .left-side-container {
    background-image: url("/website/images/indexPage/build_your_own_car_image.jpg");
    background-color: #000;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: cover;
}

/* Fourth section */
.fourth-wrapper {
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
}

.fourth-wrapper .title-wraper{
    color: black;
}


.third-wrapper .right-side-wrapper .right-side-container {
    background-image: url("/website/images/indexPage/insuranceaa.avif");
    background-color: #fbfbfd;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: auto;
}

.left-side-container,
.right-side-container {
    min-height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.left-side-wrapper,
.right-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.third-wrapper .links-wrapper {
    max-width: 300px;
    margin: 0 auto;
}

.links-wrapper ul {
    list-style: none;
}

.third-wrapper .description-wraper {
    max-width: 250px;
    margin: 7px auto;
}

.description-wraper.white {
    color: white;
}

.links-wrapper {
    padding: 15px 0;
}

.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
}

.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
    font-size: 21px;
}

.links-wrapper ul li a:hover {
    color: #000;
}

.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

.title-wraper {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}

.right-side-wrapper .title-wraper {
    max-width: 280px;
    margin: 0 auto;
}

.description-wrapper {
    font-size: 26px;
    padding: 10px 0;
}

.title-wraper.bold {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}

.index_first_banner .index_first_banner_text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.index_first_banner .index_first_banner_text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.index_first_banner .index_first_banner_text button {
    padding: 10px 20px;
    background-color: white;
    color: grey;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

header ul li a .header-mid {
    justify-content: center !important;
}


